# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# temp uploads (local dev)
tmp/
uploads/
.local/
